.header {
    height: 72px;
    background-color: white;
    border-bottom: 1px solid #e5e7eb;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 32px;
}

.breadcrumb {
    font-size: 0.9rem;
    font-weight: 500;
    display: flex;
    align-items: center;
    gap: 16px;
}

.menu-btn {
    background: none;
    border: none;
    cursor: pointer;
    color: #374151;
    display: none;
    /* Hidden by default */
    padding: 0;
}

.crumb-text {
    display: flex;
    align-items: center;
}

@media (max-width: 768px) {
    .header {
        padding: 0 16px;
    }

    .menu-btn {
        display: block;
    }

    .crumb-text {
        display: none;
    }

}

.separator {
    margin: 0 8px;
    color: #e5e7eb;
}

.active-crumb {
    color: #111827;
}

.header-right {
    display: flex;
    align-items: center;
    gap: 24px;
}


.user-profile {
    display: flex;
    align-items: center;
    gap: 12px;
    cursor: pointer;
}

.user-info {
    text-align: right;
    display: flex;
    flex-direction: column;
}

.user-name {
    font-size: 0.9rem;
    font-weight: 600;
    color: #111827;
}

.user-role {
    font-size: 0.75rem;
    color: #6b7280;
}

.avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #e5e7eb;
}

.avatar:hover {
    border-color: #10b981;
}